/**
 * Controls styles.
 */

.controls {
  height: calc(100% - $header-height);
  left: 0;
  padding: $section-spacing;
  position: fixed;
  top: $header-height;
  width: $controls-width;
}

.controls-title {
  color: $lighter-gray;
  margin-bottom: 0;
}

.controls > *:not(.controls-title) {
  margin-top: calc($atom * 10);
  margin-bottom: 0;
}
