/**
 * Post details view.
 */

.details {
  height: calc(100% - $header-height);
  left: calc($controls-width + $feed-width);
  overflow-y: scroll;
  padding: calc($section-spacing * 2);
  position: fixed;
  top: $header-height;
  width: $details-width;
}

.details-title {
  margin-bottom: calc($dt-spacing * 4);
}

.details-meta {
  margin-bottom: calc($dt-spacing * 4);
}
