/**
 * Feed styles.
 */

.feed {
  background-color: $feed-background;
  height: calc(100% - $header-height);
  left: $controls-width;
  overflow-y: scroll;
  padding: calc($section-spacing * 2);
  position: fixed;
  top: $header-height;
  width: $feed-width;
}
