/**
 * Feed styles.
 */

.feed {
  height: 100%;
  left: $controls-width;
  overflow-y: scroll;
  padding: calc($section-spacing * 2);
  position: fixed;
  top: $header-height;
  width: $feed-width;
}
