/**
 * General styles
 */

body {
  background-color: $body-background;
}

/* links */

a,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  color: $link-color;
  transition: $transition-base;
}

a:hover,
a:focus {
  color: $link-hover-color;
}

/* definition list */

dt {
  color: $lighter-gray;
  margin-bottom: $dt-spacing;
  text-transform: uppercase;
}

dt:not(:first-of-type) {
  margin-top: calc($dt-spacing * 2);
}
