/**
 * Color settings.
 */

/* grayscale */
$white: #fff;
$black: #000;
$lightest-gray: #f7f7f7;
$lighter-gray: #ccc;
$light-gray: #999;
$gray: #666;
$base: #333;

/* color theme (see: https://color.adobe.com/Neutral-Blue-color-theme-22361/) */
$theme-1: #FCFFF5;
$theme-2: #D1DBBD;
$theme-3: #91AA9D;
$theme-4: #3E606F;
$theme-5: #193441;

/* semantic */
$body-background: #f9f9f9;
$controls-background: #fefefe;
