/**
 * Spacing settings.
 */

/* units */
$atom: 2.5px;

/* elements */
$comment-spacing: calc($atom * 6);
$dt-spacing: calc($atom * 4);
$header-height: 42px;
$input-height: 34px;
$input-line-height: 20px;
$input-padding-vertical: calc($atom * 2);
$input-padding-horizontal: calc($atom * 4);
$section-spacing: calc($atom * 10);

/* panels */
$controls-width: 400px;
$feed-width: 600px;
$details-width: 500px;
